[[source]]
url = "https://github.com/lttb/morphy"
verify_ssl = true
name = "morphey"

[packages]
keras = '>=2.1.6'
numpy = '>=1.14.0'
pymorphy2 = '>=0.8'
russian-tagsets = '0.6'
scikit-learn = '>=0.19.1'
scipy = '>=1.0.0'
tensorflow = '>=1.8.0'

[dev-packages]
flake8
flake8-quotes
pyre-check
yapf

[requires]
python_version = "3.6"
